/*FONT MIXINS*/

@font-face {
    font-family: 'Wicked Grit';
    src: url('/fonts/wickedgrit-webfont.woff2') format('woff2'),
         url('/fonts/wickedgrit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*VARIABLES*/
$headline-font-stack: 'Wicked Grit',sans-serif;
$alt-headline: 'Roboto', sans-serif;
$para-font: "Roboto",sans-serif;
$primary-color: #285281;
$accent-color: #ed2544;
$light: #fff;
$grey: #666;
$dark-grey: #2D2D2D;
$dark:#000;

/*GLOBAL- BUTTONS, LINKS, FONTS*/
body {
    h1, h2, h3, .button {
        font-family: $headline-font-stack;
    }
    p, li {
        font-family:$para-font;
    }
    .button {
        font-size: 19px;
        background: $primary-color;
        &:hover {
            text-decoration: none;
        }
    }
    h2.underline:after,
    h3.underline:after {
            content: "";
            height: 2px;
            width: 60px;
            background: $primary-color;
            display: block;
            margin: 10px auto 0 auto;
        }    
    a.simple:after {
         content: "";
            height: 1px;
            width: 80px;
            background: $primary-color;
            display: block;   
            margin: 0 auto;
            text-align: center;
    }  
}

/*HEADER*/
header {
    background: $primary-color;
    border-bottom: 2px solid $primary-color;
    .row {
    padding:20px 0;
    }
}
/*HERO*/
.hero {
    background-image:url(/img/dart-driver-wheel.jpg);
}


/*MID CTA*/
.mid-cta {
    background-image:url(/img/sunset-truck.jpg);
}

/*BENEFITS*/
.benefits ul {
    list-style-image: url(/img/blue-check.svg);
}

/*QUALIFICATIONS*/
.qualifications {
    ul {
        list-style-image: url('/img/blue-check.svg');
        margin-left: -20px;
    }
}

/*FINAL CTA*/
.final-cta{
    .row {
        padding:60px 0 0 0;
    }
}

/*MEDIA QUERIES*/
@media (min-width: 767px){
    body {
        h2 {
            font-size: 28px;
            line-height: 54px;
        }
        h1 {
            font-size: 50px;
        }
    }
}
