
/*VARIABLES*/
$headline-font-stack: 'Raleway', sans-serif;
$alt-headline: 'Raleway', sans-serif;
$para-font: "Roboto",sans-serif;
$primary-color: #336699;
$accent-color: #0e212f;
$light: #fff;
$light-grey: #ededed;
$grey: #cccccc;
$dark-grey: rgba(155, 155, 155, 1);
$dark:#000;

/*GLOBAL- BUTTONS, LINKS, FONTS*/
body {
    h1, h2, h3, .button {
        font-family: $headline-font-stack;
    }
    p, li {
        font-family:$para-font;
    }
    .button {
        font-size: 19px;
        background: $primary-color;
        color:$light;
        &:hover {
            text-decoration: none;
            color:$primary-color;
        }
    }
    .button.light {
        color: $primary-color;
        &:hover {
            background:$light-grey;
        }
    }
    h2.underline:after,
    h3.underline:after,
    .benefits h2:after {
            content: "";
            height: 2px;
            width: 60px;
            background: $primary-color;
            display: block;
            margin: 10px auto 0 auto;
        }    
    a.simple:after {
         content: "";
            height: 1px;
            width: 80px;
            background: $primary-color;
            display: block;   
            margin: 0 auto;
            text-align: center;
    }  
}
a.simple-inline {
    border-bottom: 1px solid $primary-color;
}

/*HEADER*/
header {
    background: $accent-color;
    border-bottom: 2px solid $accent-color;
    .row {
    padding:20px 0;
    }
}
/*HERO*/
.hero {
    background-image:url(/img/ptl-hero.jpg);
}


/*MID CTA*/
.mid-cta {
    background-image:url(/img/ptl-fam-short.jpg);
}

/*BENEFITS*/
.benefits ul {
    list-style-image: url(/img/blue-check.svg);
}

/*QUALIFICATIONS*/
.qualifications {
    ul {
        list-style-image: url('/img/blue-check.svg');
        margin-left: -20px;
    }
}

/*FINAL CTA*/
.final-cta{
    .row {
        padding:60px 0 0 0;
    }
    .inner-wrapper {
            border-top: 1px solid $primary-color;;
    }
}

/*FOOTER*/
footer {
        background:$dark-grey;
    a {
        color: $primary-color;
    }
}

/*MEDIA QUERIES*/
@media (min-width: 767px){
    body {
        h2 {
            font-size: 28px;
            line-height: 54px;
        }
        h1 {
            font-size: 50px;
        }
    }
    .driver-type-box .driver-type-inner {
            position: absolute;
            width: 50%;
            top: 65px;
            padding: 0 15px;
            left: 25%;
        }
}